@font-face {
  font-family: roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
  font-family: Roboto font;
  src: url("./Roboto-Medium.ttf");
}
h2{
    font-family: serif,sans-serif,monospace;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: Roboto font;
}
.second {
  font-family: roboto;
}
